<div class="card col-3 m-3" style="width: 18rem;">
  <img class="card-img-top " style="max-height: 10em" src="{{photo}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{tagline}}</p>
    <a href="#" class="btn btn-primary d-flex align-items-end">Go to the game!</a>
  </div>
</div>