<div class="index-page">
  <div class="error">
    {{#if user}}
        {{else}}
      <a href="/">Go back</a>
    {{/if}}
<h2>Error {{error.status}} - {{message}}</h2>
<div class="image-container">

<img class="error-image" src="/images/error.jpg" alt="">
</div>
<h4>Something went wrong...oh dear! Please click the go back page for a way out of here...(Either you are a hacker or we need to fix something.) </h4>

  </div>
</div>
