<h1>Publish a New Game!</h1>
<form method="POST" enctype="multipart/form-data">
  <label for="input-title">Game Title</label>
  <input type="text" name="title" id="input-title" placeholder="Input Title" maxlength="80"/>
  <label for="input-description">Post Content</label>
  <textarea name="description" id="input-description" placeholder="Write Game Description Here..." maxlength="500"></textarea>
  <label for="input-photos">Photos</label>
  <input type="file" name="photos" id="input-photos" accept="image/*" multiple />
  <label for="input-tagline">Game Tagline</label>
  <input type="text" name="tagline" id="input-tagline" placeholder="Input a Game Tagline" maxlength="80"/>
  <button>Publish this New Game</button>
</form>