<div class="set-margin">
  <h1>Projects</h1>
  <span><strong>Welcome {{user.name}}!</strong></span>
  <br />
  <strong>Which project are you looking for?</strong>
  <form class="form-inline" action="" method="GET">
    <label for="input-campus">Campus</label>
    <select name="campus" id="">
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="Sao Paulo">Sao Paulo</option>
    </select>

    <label for="input-project">Project Type</label>
    <select name="category" id="">
      <option value="All Projects">All Projects</option>
      <option value="Game Project">Game Project</option>
      <option value="App Project">App Project</option>
      <option value="Last Project">Last Project</option>
    </select>
    <button>Filter</button>
  </form>
  <div class="container central">
    <div class="row row-cols-1 row-cols-md-3">
      {{#each projects}}
      {{!-- <div class="col"> --}}
      {{>singlecard}}
      {{!-- </div> --}}
      {{/each}}
    </div>
  </div>
</div>
</span>