<h1>Projects</h1>
<span><strong>Welcome {{user.name}}!</strong></span>
<br />
<span><strong>It's time to play!</strong>
<div class="container">
  <div class = "row">
    {{#each projects}}
    {{>singlecard}}
    {{/each}}
  </div>
</div>