<div class="set-margin">
  
  <div class="homediv">

  <h1><strong>Welcome {{user.name}}!</strong></h1>
  <br />
  <h2>Are you curiuos to see what other <strong style="color: #5bdfff">Ironhack</strong> Campus have done?</h2>
  <h3>You are in the right <strong style="color: #5bdfff">App!</strong></h3>
    
<img src="/images/arrowdown.gif">
  </div>
  
  <form class="form-inline" action="" method="GET">
    <label for="input-campus">Campus</label>
    <select name="campus" id="">
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="Sao Paulo">Sao Paulo</option>
    </select>

    <label for="input-project">Project Type</label>
    <select name="category" id="">
      <option value="All Projects">All Projects</option>
      <option value="Game Project">Game Project</option>
      <option value="App Project">App Project</option>
      <option value="Last Project">Last Project</option>
    </select>
    <button>Filter</button>
  </form>
  <div class="container central">
    <div class="row row-cols-1 row-cols-md-3">
      {{#each projects}}
      {{!-- <div class="col"> --}}
      {{>singlecard}}
      {{!-- </div> --}}
      {{/each}}
    </div>
  </div>
</div>
</span>