
<div class="index-page">
  <img class='index-page-img' src="./images/55085_logo-ironhack-1 (1).png" alt="Logo">
  <div class="index-form">
  <button><a href="/authentication/sign-in">Sign In</a></button>
  <button><a href="/authentication/sign-up">Sign Up</a></button>
  </div>
</div>
