<h1>Profile</h1>
<p>This page should only be accessible to authenticated users.</p>
<span><strong>Name</strong>: {{name}}</span>
<br />
<span><strong>Email</strong>: {{email}}</span>
<span><a href="/create-game">Sign In</a></span>