<h1>Which project are you looking for {{user.name}}?</h1>
<br />
<span><strong>Here is your options?</strong>
<br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/home/games">
          <div class="card text-white bg-info mb-3">
            <div class="card-body">
              <h3 class="card-title text-center">GAME PROJECT</h3>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm">
        <a href="/home/apps">
          <div class="card text-white bg-info mb-3">
            <div class="card-body">
              <h3 class="card-title text-center">APP PROJECT</h3>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm">
        <a href="/home/final">
          <div class="card text-white bg-info mb-3">
            <div class="card-body">
              <h3 class="card-title text-center">FINAL PROJECT</h3>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk
                of
                the card's
                content.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>