// navbar blue: #5bdfff
// general dark blue: #3dcaff

$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsla(0, 0, 75%, 0.5);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  //max-width: 90%;
  //padding: 0 1em;
  margin: 0 auto;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  background-color: #5bdfff;
  color: white;
  a,
  button {
    padding: 1em 0;
    border: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
  }
}

.navdiv {
 // padding-left: 3%;
  // padding-right: 3%;
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  //width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

.index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: 50px;
}

//style for profile section only

.sectionprofile {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: 60%;
  background-size: 60%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgprofile {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  margin-top: 11%;

}

.userdiv {
  margin-top: 3%;
  margin-right: 40%;
  margin-bottom: 5%
}

.profilerow {
  display: flex;
  justify-content: space-around;
}
